#calculator{
    border: 1px solid rgb(187, 183, 183);
    border-radius: 5px;
   
    width: 180px;           /* apni width set karo */
    margin: 50px auto
}

#display{
    margin: 10px;
    width: 85%;
    font-size: 20px;
}

.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.button{
    width: 40px;
    height: 40px;
    margin: 3px;

}
#heading{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    margin-top: 20px;
}